NODE_ENV=development
PORT=3012
LOG_LEVEL=info

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/musicdb

ARTIST_DB_CONTAINER=my-postgresdb
ARTIST_DB_USER=postgres
ARTIST_DB_NAME=musicdb

CORS_ORIGIN=http://localhost:5173

VITE_ARTIST_APP_ENABLE_SHELL_MODE=true
VITE_ARTIST_APP_ALLOW_THEME_QUERY=true
VITE_ARTIST_APP_DEFAULT_THEME=slate